*{
    
    
    font-family: Arial, Helvetica, sans-serif;

}

a:link {
    color:  #ffffff;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color:  #ffffff;
    background-color: transparent;
    text-decoration: none;
  }

.text {
    text-align: center;
    color: #ffffff;
}

.image {
    display: flex;
    justify-content: center; 
    align-items: center;
    justify-content: space-evenly;
}

.table {
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

.year {
    background-color: #d19738;
}

nav {
    text-decoration: none;
    width: 100%;
    position: top;
    z-index: -1;

}

ul {
    width: fit-content;
    margin: auto;
    list-style: none;
}

ul li{
    float:left;
    margin-right: 30px;
}

#navigation {
    background-color: 	#0c1709;
    padding: 20px;
    
}

#about {
    background-color: #4b4f8c;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
    border: 3px solid black;
}

#gallery {
    background-color: #d89a37;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
    border: 3px solid black;
    border-top: none;
    border-bottom: none;
}

#timeline {
    background-color: #bc4f4c;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
    border: 3px solid black;
    border-bottom: none;
    
}

#links 
{
    background-color: #4b4f8c;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
    border: 3px solid black;
}